<div class="container">
  <div class="row">
    <h4 class="bg-light m-5">マイページ</h4>
  </div>
  <div class="row">
      <p class="font-weight-bold h4 mr-3">登録情報</p>
      <%= link_to "編集する", customers_information_edit_path, class: 'btn col-1 btn-sm btn-success text-light' %>
  </div>
  <div class="row">
    <table class="table table-bordered table-lg w-auto mt-3">
      <tbody>
          <tr>
            <td class="table-active">氏名</td>
            <td><%=  %> </td>
          </tr>
          <tr>
            <td class="table-active">カナ</td>
            <td></td>
          </tr>
          <tr>
            <td class="table-active">郵便番号</td>
            <td></td>
          </tr>
          <tr>
            <td class="table-active">住所</td>
            <td></td>
          </tr>
          <tr>
            <td class="table-active">電話番号</td>
            <td></td>
          </tr>
          <tr>
            <td class="table-active">メールアドレス</td>
            <td></td>
          </tr>
      </tbody>
    </table>
  </div>
  <div class="row mt-3">
    <table class="table table-borderless table-sm w-auto mt-3">
      <tbody>
        <tr>
          <td class="font-weight-bold h4">配送先</td>
          <td><%= link_to "一覧を見る", addresses_path, class: 'btn btn-sm mb-3 ml-3 btn-primary text-light' %></td>
        </tr>
        <tr>
          <td class="font-weight-bold h4">注文履歴</td>
          <td><%= link_to "一覧を見る", orders_path, class: 'btn btn-sm ml-3 btn-primary text-light' %></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>