<%= form_with model: @genre, url: admin_genre_path, method: :patch do |f| %>
  <div class="container">
    <div class="row mb-3">
      <h4 class="bg-light m-5">ジャンル編集</h4>
    </div>

    <div class="row mb-5">
      <div class="form-group text-center w-auto h-auto h6">
        <label for="genre_name">ジャンル名</label>
      </div>
      <div class="mx-5">
        <%= f.text_field :name, size: 20, class:"form-control" %>
      </div>
      <div class="form-group">
        <%= f.submit '変更を保存', class:"btn btn-md btn-success" %>
      </div>
    </div>
  </div>
<% end %>